@model HRMSApp.Data.Models.DeptEmp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dept_emp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { empNo = Model.EmpNo, deptNo = Model.DeptNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
